<ion-header [translucent]="false">
  <ion-toolbar>
    <div class="header-content">
      <img src="../../assets/icon/favicon.png" alt="Ícone de urso" />
      <ion-searchbar
        class="ion-no-padding"
        placeholder="Buscar por livros"
      ></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center ion-align-content-center" [fullscreen]="true">
  <div class="content">
    <div class="books-grid">
      @for (book of myBooks; track book) {
      <app-book-miniature [book]="book"></app-book-miniature>
      } @empty {
      <app-nothing-to-see-yet></app-nothing-to-see-yet>
      }
    </div>
    <ion-button (click)="addBook()">Adcionar Livro</ion-button>
  </div>
</ion-content>
