.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  max-width: 200px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.book img {
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.book p {
  margin: 0;
  padding: 2vw;
  text-align: center;
  width: 100%;
  background: var(--ion-color-bear);
  color: var(--ion-color-bear-contrast);
}